<div class="row">
  <div class="col-xs-10">
      <app-shopping-edit></app-shopping-edit>
      <hr>
      <ul class="list-group">
          <div *ngFor="let type of ingredientTypes">
              <h3>{{ type }}</h3>
              <a 
              class="list-group-item" 
              style="cursor: pointer"
              *ngFor="let ingredient of groupedIngredients[type]; let i = index"
              (click)="onEditItem(i)"
              >
              {{ ingredient.name }} ({{ ingredient.amount }}) 
              <span *ngIf="ingredient.recipeName"> - From: {{ ingredient.recipeName }}</span>
          </a>
          </div>
      </ul>
  </div>
</div>
